.search {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 40px;

	p {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 10px;
		background-color: white;
		border-top: 1px solid #eff2f7;
	}

	.search__guestCountInput {
		padding: 10px;
		border: 0;
		width: 100%;
	}

	.search__button {
		background-color: #ff7779;
		color: white;
		width: 100%;
		border-radius: 0;
		text-transform: inherit;

		&:hover {
			background-color: white;
			color: #ff7779;
		}
	}
}
