.searchResult {
	display: flex;
	position: relative;
	margin: 20px;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid lightgray;

	&:hover {
		opacity: 0.8;
	}

	img {
		height: 230px;
		width: 400px;
		border-radius: 10px;
		object-fit: contain;
	}
}

.searchResult__heart {
	position: absolute;
	top: 20px;
	right: 20px;
}

.searchResult__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
	width: 100%;
}

.searchResult__infoTop {
	h3 {
		line-height: 23px;
	}

	.searchResult__line {
		border-bottom: 1px solid lightgray;
		display: block;
		margin: 20px 0 10px;
		width: 60px;
	}

	.searchResult__description {
		font-size: 16px;
	}
}

.searchResult__infoBottom {
	display: flex;
	justify-content: space-between;

	.searchResult__stars {
		display: flex;
		align-items: center;
	}

	.searchResult__star {
		color: red;
	}

	.searchResult__price {
		p {
			text-align: right;
		}
	}
}
