* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 74px;
	line-height: 82px;
}

h3,
h4,
h5,
h6 {
	font-family: "Lora", serif;
	font-style: italic;
	font-weight: 400;
	font-size: 35px;
	line-height: 42px;
}

a,
p,
span {
	font-family: "Hind Madurai", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}
